YeahTVApi.ServiceProvider/Service References/AutoCheckInService/WebSelfHelpCheckInService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Htinns.PMS.CRS_Interface.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Htinns.PMS.CRS_Interface.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHall">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hall" nillable="true" type="tns:Hall" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHall" nillable="true" type="tns:ArrayOfHall" />
  <xs:complexType name="Hall">
    <xs:sequence>
      <xs:element minOccurs="0" name="Floors" nillable="true" type="tns:ArrayOfFloor" />
      <xs:element minOccurs="0" name="HallID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HallName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hall" nillable="true" type="tns:Hall" />
  <xs:complexType name="ArrayOfFloor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Floor" nillable="true" type="tns:Floor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFloor" nillable="true" type="tns:ArrayOfFloor" />
  <xs:complexType name="Floor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordinate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FloorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FloorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rooms" nillable="true" type="tns:ArrayOfChamber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Floor" nillable="true" type="tns:Floor" />
  <xs:complexType name="ArrayOfChamber">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chamber" nillable="true" type="tns:Chamber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChamber" nillable="true" type="tns:ArrayOfChamber" />
  <xs:complexType name="Chamber">
    <xs:sequence>
      <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChamberNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChamberType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coordinate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HobbyCollection" nillable="true" type="tns:ArrayOfRoomTrait" />
      <xs:element minOccurs="0" name="Storey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chamber" nillable="true" type="tns:Chamber" />
  <xs:complexType name="ArrayOfRoomTrait">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomTrait" nillable="true" type="tns:RoomTrait" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomTrait" nillable="true" type="tns:ArrayOfRoomTrait" />
  <xs:complexType name="RoomTrait">
    <xs:sequence>
      <xs:element minOccurs="0" name="TraitKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraitText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomTrait" nillable="true" type="tns:RoomTrait" />
  <xs:complexType name="MessageFaultException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageFaultException" nillable="true" type="tns:MessageFaultException" />
  <xs:complexType name="ArrayOfAssignInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssignInfo" nillable="true" type="tns:AssignInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssignInfo" nillable="true" type="tns:ArrayOfAssignInfo" />
  <xs:complexType name="AssignInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Building" nillable="true" type="tns:Hall" />
      <xs:element minOccurs="0" name="IsCheckIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="LiveGuests" nillable="true" type="tns:ArrayOfCheckInInfo" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Chamber" />
      <xs:element minOccurs="0" name="Storey" nillable="true" type="tns:Floor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssignInfo" nillable="true" type="tns:AssignInfo" />
  <xs:complexType name="ArrayOfCheckInInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckInInfo" nillable="true" type="tns:CheckInInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckInInfo" nillable="true" type="tns:ArrayOfCheckInInfo" />
  <xs:complexType name="CheckInInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMaster" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sReceiveID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckInInfo" nillable="true" type="tns:CheckInInfo" />
  <xs:complexType name="RoomError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomError" nillable="true" type="tns:RoomError" />
  <xs:complexType name="RoomNoAndTypeMatchError">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrectRoomTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GivenRoomTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomNoAndTypeMatchError" nillable="true" type="tns:RoomNoAndTypeMatchError" />
  <xs:complexType name="ArgumentError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArgumentError" nillable="true" type="tns:ArgumentError" />
  <xs:complexType name="RoomOccupyError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomOccupyError" nillable="true" type="tns:RoomOccupyError" />
  <xs:complexType name="RcpnValidatorRepeatError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RcpnValidatorRepeatError" nillable="true" type="tns:RcpnValidatorRepeatError" />
  <xs:complexType name="ArrayOfRoomNumInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomNumInfo" nillable="true" type="tns:RoomNumInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomNumInfo" nillable="true" type="tns:ArrayOfRoomNumInfo" />
  <xs:complexType name="RoomNumInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckInRoomCount" type="xs:int" />
      <xs:element minOccurs="0" name="RoomTypeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomNumInfo" nillable="true" type="tns:RoomNumInfo" />
  <xs:complexType name="ArrayOfInvoiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceInfo" nillable="true" type="tns:InvoiceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceInfo" nillable="true" type="tns:ArrayOfInvoiceInfo" />
  <xs:complexType name="InvoiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceInfo" nillable="true" type="tns:InvoiceInfo" />
  <xs:complexType name="ArrayOfRcpnSheetInfoExt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RcpnSheetInfoExt" nillable="true" type="tns:RcpnSheetInfoExt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRcpnSheetInfoExt" nillable="true" type="tns:ArrayOfRcpnSheetInfoExt" />
  <xs:complexType name="RcpnSheetInfoExt">
    <xs:sequence>
      <xs:element minOccurs="0" name="MasterReceiveID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefGroupRecID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RcpnSheetInfoExt" nillable="true" type="tns:RcpnSheetInfoExt" />
</xs:schema>