YeahTVApi.ServiceProvider/Service References/AutoCheckInService/WebSelfHelpCheckInService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Htinns.Common.Organization.Scope" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Htinns.Common.Organization.Scope" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrganizationScope">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ScopeBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrgId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationScope" nillable="true" type="tns:OrganizationScope" />
  <xs:complexType name="ScopeBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ScopeBase" nillable="true" type="tns:ScopeBase" />
</xs:schema>