YeahTVApi.ServiceProvider/Service References/UpdateImages/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageUpdate" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IImageUpdate_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FielType" element="tns:FielType" />
  </wsdl:message>
  <wsdl:message name="UpLoadRequest">
    <wsdl:part name="parameters" element="tns:UpLoadRequest" />
  </wsdl:message>
  <wsdl:message name="UpLoadRequest_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="IsUpLoad" element="tns:IsUpLoad" />
  </wsdl:message>
  <wsdl:portType name="IImageUpdate">
    <wsdl:operation name="UpdateImageByBitmapStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageUpdate/UpdateImageByBitmapStream" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageUpdate/UpdateImageByBitmapStreamResponse" name="UpLoadRequest" message="tns:UpLoadRequest" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IImageUpdate" type="tns:IImageUpdate">
    <wsp:PolicyReference URI="#NetTcpBinding_IImageUpdate_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UpdateImageByBitmapStream">
      <soap12:operation soapAction="http://tempuri.org/IImageUpdate/UpdateImageByBitmapStream" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap12:header message="tns:RemoteFileInfo_Headers" part="FielType" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpLoadRequest">
        <soap12:header message="tns:UpLoadRequest_Headers" part="FileName" use="literal" />
        <soap12:header message="tns:UpLoadRequest_Headers" part="IsUpLoad" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageUpdate">
    <wsdl:port name="NetTcpBinding_IImageUpdate" binding="tns:NetTcpBinding_IImageUpdate">
      <soap12:address location="net.tcp://roger-pc/ImageUpdate.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://roger-pc/ImageUpdate.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>