YeahTVApi.Business/Service References/OrderQuery.IResQuery/ResQuery7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pmsrecon-web:9090/ResQuery.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" />
  <xs:import schemaLocation="http://pmsrecon-web:9090/ResQuery.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Htinns.PMS.CRS_Interface" />
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" minOccurs="0" name="QueryResult" nillable="true" type="q1:ArrayOfRsvnSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithHistoryRecordsOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="withHistoryRecords" type="xs:boolean" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithHistoryRecordsOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" minOccurs="0" name="QueryWithHistoryRecordsOptionResult" nillable="true" type="q2:ArrayOfRsvnSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllRecordsWithHistoryRecordsOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="withHistoryRecords" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllRecordsWithHistoryRecordsOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" minOccurs="0" name="QueryAllRecordsWithHistoryRecordsOptionResult" nillable="true" type="q3:ArrayOfRsvnSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySingleRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySingleRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" minOccurs="0" name="QuerySingleRecordResult" nillable="true" type="q4:RsvnSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithHistoryRecordsOptionAndPageOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="withHistoryRecords" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithHistoryRecordsOptionAndPageOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" minOccurs="0" name="QueryWithHistoryRecordsOptionAndPageOptionResult" nillable="true" type="q5:ArrayOfRsvnSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithHistoryRecordsOptionAndPageOrderOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="withHistoryRecords" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithHistoryRecordsOptionAndPageOrderOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" minOccurs="0" name="QueryWithHistoryRecordsOptionAndPageOrderOptionResult" nillable="true" type="q6:ArrayOfRsvnSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithHotelIdAndPageOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="withHistoryRecords" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryWithHotelIdAndPageOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" minOccurs="0" name="QueryWithHotelIdAndPageOptionResult" nillable="true" type="q7:ArrayOfRsvnSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByQueryTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Htinns.PMS.CRS_Interface" minOccurs="0" name="query" nillable="true" type="q8:QueryTerm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByQueryTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" minOccurs="0" name="QueryByQueryTermResult" nillable="true" type="q9:ArrayOfRsvnSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByQueryTermAndWithHistoryRecordsOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Htinns.PMS.CRS_Interface" minOccurs="0" name="query" nillable="true" type="q10:QueryTerm" />
        <xs:element minOccurs="0" name="withHistoryRecords" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryByQueryTermAndWithHistoryRecordsOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Htinns.PMS.Entity.Reservation" minOccurs="0" name="QueryByQueryTermAndWithHistoryRecordsOptionResult" nillable="true" type="q11:ArrayOfRsvnSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRecordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="withHistoryRecords" type="xs:boolean" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryRecordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryRecordCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllRecordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="withHistoryRecords" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAllRecordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryAllRecordCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSingleRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSingleRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>