YeahTVApi.ServiceProvider/Service References/MemberService/MemberService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.eCoupons" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.eCoupons" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCouponInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouponInfo" nillable="true" type="tns:CouponInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCouponInfo" nillable="true" type="tns:ArrayOfCouponInfo" />
  <xs:complexType name="CouponInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="BindCount" type="xs:int" />
      <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" type="tns:GiveCouponChannel" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponInfo" nillable="true" type="tns:CouponInfo" />
  <xs:simpleType name="GiveCouponChannel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
      <xs:enumeration value="Z" />
      <xs:enumeration value="M" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GiveCouponChannel" nillable="true" type="tns:GiveCouponChannel" />
  <xs:complexType name="ArrayOfFailedCouponInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FailedCouponInfo" nillable="true" type="tns:FailedCouponInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFailedCouponInfo" nillable="true" type="tns:ArrayOfFailedCouponInfo" />
  <xs:complexType name="FailedCouponInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailedReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GiveCouponInfo" nillable="true" type="tns:CouponInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FailedCouponInfo" nillable="true" type="tns:FailedCouponInfo" />
</xs:schema>