YeahTVApi.ServiceProvider/Service References/MemberService/MemberService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vwebsite02.httest.loc:2257/MemberService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" />
  <xs:import schemaLocation="http://vwebsite02.httest.loc:2257/MemberService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" />
  <xs:import schemaLocation="http://vwebsite02.httest.loc:2257/MemberService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" />
  <xs:import schemaLocation="http://vwebsite02.httest.loc:2257/MemberService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Dto" />
  <xs:element name="GetMemberUsualContactByMemberID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberUsualContactByMemberIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="GetMemberUsualContactByMemberIDResult" nillable="true" type="q1:ArrayOfMemberUsualContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberUsualHotelByMemberID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberUsualHotelByMemberIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="GetMemberUsualHotelByMemberIDResult" nillable="true" type="q2:ArrayOfMemberUsualHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberUsualContactByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberUsualContactByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMemberUsualContactByIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberUsualContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberUsualContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMemberUsualContactResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberUsualHotelByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberUsualHotelByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMemberUsualHotelByIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberUsualHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMemberUsualHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMemberUsualHotelResult" type="xs:int" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomDayByMemberID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoomDayByMemberIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRoomDayByMemberIDResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInviteCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q3:GetInviteCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInviteCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" minOccurs="0" name="GetInviteCodeResult" nillable="true" type="q4:GetInviteCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberIDByInviteCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q5:GetMemberIDByInviteCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberIDByInviteCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" minOccurs="0" name="GetMemberIDByInviteCodeResult" nillable="true" type="q6:GetMemberIDByInviteCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindMemberRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q7:BindMemberRelationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindMemberRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" minOccurs="0" name="BindMemberRelationResult" nillable="true" type="q8:BindMemberRelationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuestMemberInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q9:GetGuestMemberInfoListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuestMemberInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" minOccurs="0" name="GetGuestMemberInfoListResult" nillable="true" type="q10:GetGuestMemberInfoListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWechatInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q11:GetWechatInfoListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWechatInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" minOccurs="0" name="GetWechatInfoListResult" nillable="true" type="q12:GetWechatInfoListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetThirdPartyAttentionInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q13:SetThirdPartyAttentionInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetThirdPartyAttentionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" minOccurs="0" name="SetThirdPartyAttentionInfoResult" nillable="true" type="q14:SetThirdPartyAttentionInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWeChatFocusOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="openId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWeChatFocusOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsWeChatFocusOnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveCouponAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q15:GiveCouponAsyncRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveCouponAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" minOccurs="0" name="GiveCouponAsyncResult" nillable="true" type="q16:GiveCouponAsyncResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q17:ActivateValueRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" minOccurs="0" name="ActivateValueResult" nillable="true" type="q18:ActivateValueResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberMixPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q19:MixPaymentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberMixPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Response" minOccurs="0" name="MemberMixPaymentResult" nillable="true" type="q20:MixPaymentRespone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByOnlyJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByOnlyJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchByOnlyJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upgrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="upgradeInfo" type="q21:UpgradeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpgradeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upgrade4MGM1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="upgradeInfo" type="q22:UpgradeInfo" />
        <xs:element minOccurs="0" name="referrerMemberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upgrade4MGM1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Upgrade4MGM1Result" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DegradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DegradeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNetMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="personMember" nillable="true" type="q23:PersonMember" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterNetMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterNetMemberResult" type="xs:int" />
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="closingDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberLevelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDefaultCompanyPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDefaultCompanyPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDefaultCompanyPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIDCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="idCard" nillable="true" type="q24:IDCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIDCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddIDCardResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberIdByIdNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberIdByIdNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberIdByIdNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceTitleByMemberID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceTitleByMemberIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInvoiceTitleByMemberIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInvoiceTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="t" nillable="true" type="q25:MemberInvoiceTitle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInvoiceTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInvoiceTitleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInvoiceTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInvoiceTitleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsedInvoiceTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsedInvoiceTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsedInvoiceTitleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByCRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByCRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchByCRSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telphone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchByPhoneResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMemberForCRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryMode" type="xs:int" />
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bdCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberLevel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageLength" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMemberForCRSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryMemberForCRSResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoByExtCardNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="extCardNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoByExtCardNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberInfoByExtCardNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindThirdParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="thirdPartyInfo" nillable="true" type="q26:MemberThirdParty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindThirdPartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BindThirdPartyResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberIdByThirdParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thirdPartyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thirdPartySource" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberIdByThirdPartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberIdByThirdPartyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByMemberId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByMemberIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="GetByMemberIdResult" nillable="true" type="q27:ArrayOfMemberThirdParty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLevelByMemberId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thirdPartySource" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thirdPartyLevel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLevelByMemberIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLevelByMemberIdResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLevelByThirdPartyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thirdPartyId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thirdPartySource" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thirdPartyLevel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLevelByThirdPartyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLevelByThirdPartyIdResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBindThirdParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thirdPartySource" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnBindThirdPartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnBindThirdPartyResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSynchronization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thirdPartySource" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isSynchronization" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setSynchronizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setSynchronizationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHtMemberByMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHtMemberByMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsHtMemberByMobileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHtMemberByMobileEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHtMemberByMobileExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsHtMemberByMobileExResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="MemberLevelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberReferrerRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="personMember" nillable="true" type="q28:PersonMember" />
        <xs:element minOccurs="0" name="referrermemberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeAfterV" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifyWay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifyPrice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberReferrerRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberReferrerRegisterResult" type="xs:int" />
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferrerMemberCountThisYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReferrerMemberCountThisYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReferrerMemberCountThisYearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberReferrers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageLength" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberReferrersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Dto" minOccurs="0" name="GetMemberReferrersResult" nillable="true" type="q29:ArrayOfMemberReferrerDto" />
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoBrandedStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coBrandedCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoBrandedStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Dto" minOccurs="0" name="GetCoBrandedStatusResult" nillable="true" type="q30:ArrayOfCoBrandedDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMemberUsualContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="entity" nillable="true" type="q31:MemberUsualContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMemberUsualContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMemberUsualContactResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMemberUsualHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="entity" nillable="true" type="q32:MemberUsualHotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMemberUsualHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMemberUsualHotelResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caller" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="personMember" nillable="true" type="q33:PersonMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberResult" type="xs:int" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberAndCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caller" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="personMember" nillable="true" type="q34:PersonMember" />
        <xs:element minOccurs="0" name="cardType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeAfterV" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifyWay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifyPrice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberAndCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMemberAndCardResult" type="xs:int" />
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="personMember" nillable="true" type="q35:PersonMember" />
        <xs:element minOccurs="0" name="cardType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeAfterV" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifyWay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifyPrice" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberRegisterResult" type="xs:int" />
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caller" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="personMember" nillable="true" type="q36:PersonMember" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberResult" type="xs:int" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCanUpdateMemberQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCanUpdateMemberQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCanUpdateMemberQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MemberID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMemberQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMemberQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMobileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIdNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateIdNoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginCheckResult" type="xs:int" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="personMember" nillable="true" type="q37:PersonMember" />
        <xs:element minOccurs="0" name="defaultVCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="defaultExtCardNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetMemberPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Request" minOccurs="0" name="request" nillable="true" type="q38:ResetMemberPasswordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetMemberPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetMemberPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonInfoCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonInfoCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonInfoCheckResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="GetMemberInfoResult" nillable="true" type="q39:PersonMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberInfoJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMemberByIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoByCardNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemberInfoByCardNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.BasicInfo" minOccurs="0" name="GetMemberInfoByCardNoResult" nillable="true" type="q40:PersonMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Freeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caller" type="xs:int" />
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operateBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FreezeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Destroy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caller" type="xs:int" />
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operateBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unfreeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caller" type="xs:int" />
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operateBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnfreezeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnfreezeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeByPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caller" type="xs:int" />
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operateBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeByPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpgradeByPointResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeByMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caller" type="xs:int" />
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operateBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeByMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpgradeByMoneyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeByAccredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caller" type="xs:int" />
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operateBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradeByAccreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpgradeByAccreditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryMode" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bdCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageLength" type="xs:int" />
        <xs:element minOccurs="0" name="currentPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryMemberResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="recordCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmailFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEmailFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetEmailFlagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateEmailFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifyChannel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateEmailFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateEmailFlagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordUnion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordUnionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPasswordUnionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelayExpireTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelayExpireTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelayExpireTimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByOnly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByOnlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchByOnlyResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>