YeahTVApi.ServiceProvider/Service References/MemberService/MemberService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Activity.ActivityCRMSync" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Activity.ActivityCRMSync" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CallResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallResult" type="tns:CallResultDto.CallResultEnum" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallResultDto" nillable="true" type="tns:CallResultDto" />
  <xs:simpleType name="CallResultDto.CallResultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Fail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CallResultDto.CallResultEnum" nillable="true" type="tns:CallResultDto.CallResultEnum" />
</xs:schema>