YeahTVApi.ServiceProvider/Service References/MemberExtraService/MemberExtraService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Htinns.CRM.BizEntity.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MemberUpgradeHistoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpgradeHistoryList" nillable="true" type="tns:ArrayOfUpgradeHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberUpgradeHistoryDto" nillable="true" type="tns:MemberUpgradeHistoryDto" />
  <xs:complexType name="ArrayOfUpgradeHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpgradeHistory" nillable="true" type="tns:UpgradeHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpgradeHistory" nillable="true" type="tns:ArrayOfUpgradeHistory" />
  <xs:complexType name="UpgradeHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemberLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpgradeTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpgradeHistory" nillable="true" type="tns:UpgradeHistory" />
  <xs:complexType name="ArrayOfCardTypeSummaryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardTypeSummaryDto" nillable="true" type="tns:CardTypeSummaryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardTypeSummaryDto" nillable="true" type="tns:ArrayOfCardTypeSummaryDto" />
  <xs:complexType name="CardTypeSummaryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardTypeSummaryDto" nillable="true" type="tns:CardTypeSummaryDto" />
</xs:schema>